.sf-menu.sf-style-coffee {
  float: left;
  margin-bottom: 1em;
  padding: 0;
}
.sf-menu.sf-style-coffee.sf-navbar {
  width: 100%;
}
.sf-menu.sf-style-coffee ul {
  padding-left: 0;
}
.sf-menu.sf-style-coffee a,
.sf-menu.sf-style-coffee span.nolink {
  border: 1px solid #381301;
  color: #f1dec6;
  font-weight: bold;
  padding: 0.75em 1em;
}
.sf-menu.sf-style-coffee a.sf-with-ul,
.sf-menu.sf-style-coffee span.nolink.sf-with-ul {
  padding-right: 2.25em;
}
.sf-menu.sf-style-coffee.rtl a.sf-with-ul,
.sf-menu.sf-style-coffee.rtl span.nolink.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
.sf-menu.sf-style-coffee.sf-navbar a,
.sf-menu.sf-style-coffee.sf-navbar span.nolink {
  border: 0;
}
.sf-menu.sf-style-coffee span.sf-description {
  color: #f1dec6;
  display: block;
  font-size: 0.833em;
  line-height: 1.5;
  margin: 5px 0 0 5px;
  padding: 0;
}
.sf-menu.sf-style-coffee.rtl span.sf-description {
  margin: 5px 5px 0 0;
}
.sf-menu.sf-style-coffee li,
.sf-menu.sf-style-coffee.sf-navbar {
  background: #210c02;
}
.sf-menu.sf-style-coffee li li {
  background: #290f03;
}
.sf-menu.sf-style-coffee li li li {
  background: #311304;
}
.sf-menu.sf-style-coffee li:hover,
.sf-menu.sf-style-coffee li.sfHover,
.sf-menu.sf-style-coffee a:focus,
.sf-menu.sf-style-coffee a:hover,
.sf-menu.sf-style-coffee a:active,
.sf-menu.sf-style-coffee span.nolink:hover,
.sf-menu.sf-style-coffee.sf-navbar li li {
  background: #52250f;
  color: #ffffff;
}
.sf-menu.sf-style-coffee.sf-navbar li ul {
  background-color: #52250f;
}
.sf-menu.sf-style-coffee.sf-navbar li ul li ul {
  background-color: transparent;
}
div.sf-accordion-toggle.sf-style-coffee a {
  background: #210c02;
  border: 1px solid #381301;
  color: #f1dec6;
  padding: 1em;
}
div.sf-accordion-toggle.sf-style-coffee a.sf-expanded,
.sf-menu.sf-style-coffee.sf-accordion li.sf-expanded {
  background-color: #52250f;
}
div.sf-accordion-toggle.sf-style-coffee a.sf-expanded,
.sf-menu.sf-style-coffee.sf-accordion li.sf-expanded > a,
.sf-menu.sf-style-coffee.sf-accordion li.sf-expanded > span.nolink {
  font-weight: bold;
}
.sf-menu.sf-style-coffee.sf-accordion li a.sf-accordion-button {
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 499;
}
.sf-menu.sf-style-coffee.sf-accordion li li a,
.sf-menu.sf-style-coffee.sf-accordion li li span.nolink {
  padding-left: 2em;
}
.sf-menu.sf-style-coffee.sf-accordion li li li a,
.sf-menu.sf-style-coffee.sf-accordion li li li span.nolink {
  padding-left: 3em;
}
.sf-menu.sf-style-coffee.sf-accordion li li li li a,
.sf-menu.sf-style-coffee.sf-accordion li li li li span.nolink {
  padding-left: 4em;
}
.sf-menu.sf-style-coffee.sf-accordion li li li li a,
.sf-menu.sf-style-coffee.sf-accordion li li li li span.nolink {
  padding-left: 5em;
}
.sf-menu.sf-style-coffee.rtl.sf-accordion li li a,
.sf-menu.sf-style-coffee.rtl.sf-accordion li li span.nolink {
  padding-left: auto;
  padding-right: 2em;
}
.sf-menu.sf-style-coffee.rtl.sf-accordion li li li a,
.sf-menu.sf-style-coffee.rtl.sf-accordion li li li span.nolink {
  padding-left: auto;
  padding-right: 3em;
}
.sf-menu.sf-style-coffee.rtl.sf-accordion li li li li a,
.sf-menu.sf-style-coffee.rtl.sf-accordion li li li li span.nolink {
  padding-left: auto;
  padding-right: 4em;
}
.sf-menu.sf-style-coffee.rtl.sf-accordion li li li li li a,
.sf-menu.sf-style-coffee.rtl.sf-accordion li li li li li span.nolink {
  padding-left: auto;
  padding-right: 5em;
}
.sf-menu.sf-style-coffee ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-coffee ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}
.sf-menu.sf-style-coffee ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent,
.sf-menu.sf-style-coffee ul.sf-megamenu li.sf-megamenu-wrapper span.nolink.menuparent {
  font-weight: bold;
}
.sf-menu.sf-style-coffee ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
}
.sf-menu.sf-style-coffee.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right;
}