.sf-menu.sf-style-pomegranate {
  float: left;
  margin-bottom: 1em;
  padding: 0;
}
.sf-menu.sf-style-pomegranate.sf-navbar {
  width: 100%;
}
.sf-menu.sf-style-pomegranate ul {
  padding-left: 0;
}
.sf-menu.sf-style-pomegranate a,
.sf-menu.sf-style-pomegranate span.nolink {
  border: 1px outset #68000e;
  color: #ffebee;
  padding: 0.75em 1em;
}
.sf-menu.sf-style-pomegranate a.sf-with-ul,
.sf-menu.sf-style-pomegranate span.nolink.sf-with-ul {
  padding-right: 2.25em;
}
.sf-menu.sf-style-pomegranate.rtl a.sf-with-ul,
.sf-menu.sf-style-pomegranate.rtl span.nolink.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
.sf-menu.sf-style-pomegranate.sf-navbar a,
.sf-menu.sf-style-pomegranate.sf-navbar span.nolink {
  border: 0;
}
.sf-menu.sf-style-pomegranate span.sf-description {
  color: #ffebee;
  display: block;
  font-size: 0.833em;
  line-height: 1.5;
  margin: 5px 0 0 5px;
  padding: 0;
}
.sf-menu.sf-style-pomegranate.rtl span.sf-description {
  margin: 5px 5px 0 0;
}
.sf-menu.sf-style-pomegranate li,
.sf-menu.sf-style-pomegranate.sf-navbar {
  background: #79001c;
}
.sf-menu.sf-style-pomegranate li li {
  background: #6c0019;
}
.sf-menu.sf-style-pomegranate li li li {
  background: #5f0016;
}
.sf-menu.sf-style-pomegranate li:hover,
.sf-menu.sf-style-pomegranate li.sfHover,
.sf-menu.sf-style-pomegranate a:focus,
.sf-menu.sf-style-pomegranate a:hover,
.sf-menu.sf-style-pomegranate a:active,
.sf-menu.sf-style-pomegranate span.nolink:hover,
.sf-menu.sf-style-pomegranate.sf-navbar li li {
  background: #4c0012;
  color: #ffffff;
}
.sf-menu.sf-style-pomegranate.sf-navbar li ul {
  background-color: #4c0012;
}
.sf-menu.sf-style-pomegranate.sf-navbar li ul li ul {
  background-color: transparent;
}
div.sf-accordion-toggle.sf-style-pomegranate a {
  background: #79001c;
  border: 1px outset #68000e;
  color: #ffebee;
  padding: 1em;
}
div.sf-accordion-toggle.sf-style-pomegranate a.sf-expanded,
.sf-menu.sf-style-pomegranate.sf-accordion li.sf-expanded {
  background-color: #4c0012;
}
div.sf-accordion-toggle.sf-style-pomegranate a.sf-expanded,
.sf-menu.sf-style-pomegranate.sf-accordion li.sf-expanded > a,
.sf-menu.sf-style-pomegranate.sf-accordion li.sf-expanded > span.nolink {
  font-weight: bold;
}
.sf-menu.sf-style-pomegranate.sf-accordion li a.sf-accordion-button {
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 499;
}
.sf-menu.sf-style-pomegranate.sf-accordion li li a,
.sf-menu.sf-style-pomegranate.sf-accordion li li span.nolink {
  padding-left: 2em;
}
.sf-menu.sf-style-pomegranate.sf-accordion li li li a,
.sf-menu.sf-style-pomegranate.sf-accordion li li li span.nolink {
  padding-left: 3em;
}
.sf-menu.sf-style-pomegranate.sf-accordion li li li li a,
.sf-menu.sf-style-pomegranate.sf-accordion li li li li span.nolink {
  padding-left: 4em;
}
.sf-menu.sf-style-pomegranate.sf-accordion li li li li a,
.sf-menu.sf-style-pomegranate.sf-accordion li li li li span.nolink {
  padding-left: 5em;
}
.sf-menu.sf-style-pomegranate.rtl.sf-accordion li li a,
.sf-menu.sf-style-pomegranate.rtl.sf-accordion li li span.nolink {
  padding-left: auto;
  padding-right: 2em;
}
.sf-menu.sf-style-pomegranate.rtl.sf-accordion li li li a,
.sf-menu.sf-style-pomegranate.rtl.sf-accordion li li li span.nolink {
  padding-left: auto;
  padding-right: 3em;
}
.sf-menu.sf-style-pomegranate.rtl.sf-accordion li li li li a,
.sf-menu.sf-style-pomegranate.rtl.sf-accordion li li li li span.nolink {
  padding-left: auto;
  padding-right: 4em;
}
.sf-menu.sf-style-pomegranate.rtl.sf-accordion li li li li li a,
.sf-menu.sf-style-pomegranate.rtl.sf-accordion li li li li li span.nolink {
  padding-left: auto;
  padding-right: 5em;
}
.sf-menu.sf-style-pomegranate ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-pomegranate ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}
.sf-menu.sf-style-pomegranate ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent,
.sf-menu.sf-style-pomegranate ul.sf-megamenu li.sf-megamenu-wrapper span.nolink.menuparent {
  font-weight: bold;
}
.sf-menu.sf-style-pomegranate ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
}
.sf-menu.sf-style-pomegranate.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right;
}