.sf-menu.sf-style-space-orange {
  float: left;
  margin-bottom: 1em;
  padding: 0;
}
.sf-menu.sf-style-space-orange.sf-navbar {
  width: 100%;
}
.sf-menu.sf-style-space-orange ul {
  padding-left: 0;
}
.sf-menu.sf-style-space-orange a,
.sf-menu.sf-style-space-orange span.nolink {
  border: 1px outset #000000;
  color: #f1f1f1;
  padding: 0.75em 1em;
}
.sf-menu.sf-style-space-orange a.sf-with-ul,
.sf-menu.sf-style-space-orange span.nolink.sf-with-ul {
  padding-right: 2.25em;
}
.sf-menu.sf-style-space-orange.rtl a.sf-with-ul,
.sf-menu.sf-style-space-orange.rtl span.nolink.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
.sf-menu.sf-style-space-orange.sf-navbar a,
.sf-menu.sf-style-space-orange.sf-navbar span.nolink {
  border: 0;
}
.sf-menu.sf-style-space-orange span.sf-description {
  color: #f1f1f1;
  display: block;
  font-size: 0.833em;
  line-height: 1.5;
  margin: 5px 0 0 5px;
  padding: 0;
}
.sf-menu.sf-style-space-orange.rtl span.sf-description {
  margin: 5px 5px 0 0;
}
.sf-menu.sf-style-space-orange li,
.sf-menu.sf-style-space-orange li li,
.sf-menu.sf-style-space-orange li li li,
.sf-menu.sf-style-space-orange.sf-navbar {
  background: #333333;
}
.sf-menu.sf-style-space-orange li:hover,
.sf-menu.sf-style-space-orange li.sfHover,
.sf-menu.sf-style-space-orange a:focus,
.sf-menu.sf-style-space-orange a:hover,
.sf-menu.sf-style-space-orange a:active,
.sf-menu.sf-style-space-orange span.nolink:hover,
.sf-menu.sf-style-space-orange.sf-navbar li li {
  background: #dc5300;
  color: #ffffff;
}
.sf-menu.sf-style-space-orange.sf-navbar li ul {
  background-color: #dc5300;
}
.sf-menu.sf-style-space-orange.sf-navbar li ul li ul {
  background-color: transparent;
}
div.sf-accordion-toggle.sf-style-space-orange a {
  background: #333333;
  border: 1px outset #000000;
  color: #f1f1f1;
  padding: 1em;
}
div.sf-accordion-toggle.sf-style-space-orange a.sf-expanded,
.sf-menu.sf-style-space-orange.sf-accordion li.sf-expanded {
  background-color: #dc5300;
}
div.sf-accordion-toggle.sf-style-space-orange a.sf-expanded,
.sf-menu.sf-style-space-orange.sf-accordion li.sf-expanded > a,
.sf-menu.sf-style-space-orange.sf-accordion li.sf-expanded > span.nolink {
  font-weight: bold;
}
.sf-menu.sf-style-space-orange.sf-accordion li a.sf-accordion-button {
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 499;
}
.sf-menu.sf-style-space-orange.sf-accordion li li a,
.sf-menu.sf-style-space-orange.sf-accordion li li span.nolink {
  padding-left: 2em;
}
.sf-menu.sf-style-space-orange.sf-accordion li li li a,
.sf-menu.sf-style-space-orange.sf-accordion li li li span.nolink {
  padding-left: 3em;
}
.sf-menu.sf-style-space-orange.sf-accordion li li li li a,
.sf-menu.sf-style-space-orange.sf-accordion li li li li span.nolink {
  padding-left: 4em;
}
.sf-menu.sf-style-space-orange.sf-accordion li li li li li a,
.sf-menu.sf-style-space-orange.sf-accordion li li li li li span.nolink {
  padding-left: 5em;
}
.sf-menu.sf-style-space-orange.rtl.sf-accordion li li a,
.sf-menu.sf-style-space-orange.rtl.sf-accordion li li span.nolink {
  padding-left: auto;
  padding-right: 2em;
}
.sf-menu.sf-style-space-orange.rtl.sf-accordion li li li a,
.sf-menu.sf-style-space-orange.rtl.sf-accordion li li li span.nolink {
  padding-left: auto;
  padding-right: 3em;
}
.sf-menu.sf-style-space-orange.rtl.sf-accordion li li li li a,
.sf-menu.sf-style-space-orange.rtl.sf-accordion li li li li span.nolink {
  padding-left: auto;
  padding-right: 4em;
}
.sf-menu.sf-style-space-orange.rtl.sf-accordion li li li li li a,
.sf-menu.sf-style-space-orange.rtl.sf-accordion li li li li li span.nolink {
  padding-left: auto;
  padding-right: 5em;
}
.sf-menu.sf-style-space-orange ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-space-orange ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}
.sf-menu.sf-style-space-orange ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent,
.sf-menu.sf-style-space-orange ul.sf-megamenu li.sf-megamenu-wrapper span.nolink.menuparent {
  font-weight: bold;
}
.sf-menu.sf-style-space-orange ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
}
.sf-menu.sf-style-space.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right;
}